{% extends "base.html" %}
{% block content %}
{% if g.user and g.user.role == 'admin' %}
  <h1>Edit Album</h1>
  {% set form_action = url_for('albums_update', album_id=album.id) %}
  {% include "albums/form.html" %}
{% else %}
  <p class="text-danger">You do not have permission to edit this album.</p>
{% endif %}
<a href="{{ url_for('albums_show', album_id=album.id) }}" class="btn btn-secondary mt-3">Show</a>
<a href="{{ url_for('albums_index') }}" class="btn btn-secondary mt-3">Back</a>
{% endblock %}
